@inject AppState AppState
@inject NavigationManager NavManager
@inject AuthenticationService AuthService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/BookWebsiteLogo.jpg" alt="Logo" width="200" height="auto">
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/AllBook">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Books
            </NavLink>
        </div>
<<<<<<< HEAD
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Cart">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Cart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddBook">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> ADDBooks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="UpdateDelete">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> UpdateDelete
            </NavLink>
        </div>
=======
        
       
>>>>>>> 9c9f40f5ccbd8b8efae1a743ecfe171279df16be

        @if (!AppState.LoggedIn)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Login">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        }

        @if (AppState.LoggedIn)
        {
            <button @onclick="Logout" class="btn btn-danger">Logout</button>
        }

    </nav>
</div>

@code {
    private bool subscribed = false;

    protected override void OnInitialized()
    {
        if (!subscribed)
        {
            AppState.OnChange += StateHasChanged;
            subscribed = true;
        }
    }

    public void Dispose()
    {
        if (subscribed)
        {
            AppState.OnChange -= StateHasChanged;
            subscribed = false;
        }
    }

    private async Task Logout()
    {
        await AuthService.Logout();
        AppState.LoggedIn = false; 
        NavManager.NavigateTo("/");
    }
}




