.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

    .books h3 {
        font-size: 1.2em; 

    .books img {
        max-width: 100px; 
        height: auto;
        border-radius: 5px;
        margin-right: 20px;
    }

    .books p {
        margin: 5px 0; 
    }

        .books p:first-child {
            font-weight: bold;
            margin-top: 0; 
        }
