@page "/AddBook"
@inject DatabaseService databaseService
@inject NavigationManager navManager
@using Npgsql;
@using NpgsqlTypes

<PageTitle>Add Book</PageTitle>

<h2>Add a New Book</h2>


<div class="form-group">
    <label for="title">Title</label>
    <input id="title" type="text" class="form-control" @bind="book.Title" />
</div>

<div class="form-group">
    <label for="author">Author</label>
    <input id="author" type="text" class="form-control" @bind="book.Author" />
</div>

<div class="form-group">
    <label for="condition">Condition</label>
    <input id="condition" type="text" class="form-control" @bind="book.Condition" />
</div>

<div class="form-group">
    <label for="category">Category</label>
    <input id="category" type="text" class="form-control" @bind="book.Category" />
</div>

<div class="form-group">
    <label for="price">Price</label>
    <input id="price" type="number" class="form-control" @bind="book.Price" />
</div>

<div class="form-group">
    <label for="imagePath">Image Path</label>
    <input id="imagePath" type="text" class="form-control" @bind="book.ImagePath" />
</div>

<div class="form-group">
    <label for="language">Language</label>
    <input id="language" type="text" class="form-control" @bind="book.Language" />
</div>

<div class="form-group">
    <label for="releaseDate">Release Date</label>
    <input id="releaseDate" type="date" class="form-control" @bind="book.ReleaseDate" />
</div>

<div class="form-group">
    <label for="format">Format</label>
    <input id="format" type="text" class="form-control" @bind="book.Format" />
</div>

<div class="form-group">
    <label for="isbn">ISBN</label>
    <input id="isbn" type="number" class="form-control" @bind="book.ISBN" />
</div>

<div class="form-group">
    <label for="weight">Weight</label>
    <input id="weight" type="number" class="form-control" @bind="book.Weight" />
</div>

<div class="form-group">
    <label for="pages">Pages</label>
    <input id="pages" type="number" class="form-control" @bind="book.Pages" />
</div>

<div class="form-group">
    <label for="description">Description</label>
    <input id="description" type="text" class="form-control" @bind="book.Description" />
</div>

<div class="form-group">
    <label for="stars">Stars</label>
    <input id="stars" type="number" class="form-control" @bind="book.Stars" />
</div>
<button class="btn btn-primary" @onclick="AddBookToDatabase">Add Book</button>

@code {
    private Book book = new Book();

    private void AddBookToDatabase()
    {
        databaseService.AddBook(book);
        
    }
}



